@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8a8c8d;
    background-image: linear-gradient(62deg, #8a8c8d 0%, #E0C3FC 100%);
    font-family: 'Orienta', sans-serif;
}

img {
    max-width: 100%;
}

.mobile-container {
    width: 400px;
    overflow: hidden;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 5px #3333331a ;
}

header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
header input {
    border: none;
    background: #eee;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-family: inherit;
}
header button {
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 1.5rem ;
    margin-left: 10px;
}
.fav-container {
    background-color: rgba(26, 209, 9, 0.411);
    padding: 0.25rem 1rem;
    text-align: center;
}
.fav-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
.fav-meals li {
    margin: 5px;
    width: 75px;
    position: relative;
    cursor: pointer;
}
.fav-meals li .clear{
    background-color: transparent;
    border: none;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    font-size: 1.2rem;
}
.fav-meals li:hover .clear{
    opacity: 1;
}
.fav-meals li img {
    border: 2px solid white;
    box-shadow: 0 0 5px #3333331a;
    object-fit: cover;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.fav-meals li span {
    width: 75px;
    font-size: 0.9rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meal {
    margin: 10px;
    box-shadow: 0 0 5px #33333359;
    margin: 1.5rem;
    cursor: pointer;
}
.meal-header {
    position: relative;
}
.meal-header .random {
    position: absolute;
    top: 10px;
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.meal-header img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.meal-body h4{
    margin: 0;
}
.meal-body .fav-btn{
    border: none;
    background-color: transparent;
    color: rgb(200, 190, 190);
    font-size: 1.2rem;
    cursor: pointer;
}
.meal-body .fav-btn:active{
    color: rebeccapurple;
}

.popup-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.hidden{
    opacity: 0;
    pointer-events: none;
}

.popup {
    background-color: #fff;
    max-width: 1000px;
    width: 100%;
    /* overflow: auto; */
    padding: 0 2rem;
    border-radius: 5px;
    position: relative;
}
.popup .close-popup {
    background-color: transparent;
    position: absolute;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    top: 1rem;
    right: 1rem;
}
.meal-info img{
    max-height: 60vh;
}

.meal-info h1 {
    text-align: center;
}



footer > .button {
    border: none;
    outline: none;
    cursor: pointer;

    position: absolute;
    padding: 10px 20px;
    background-color: chartreuse;
    color: black;
    left: 2rem;
    top: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 100px;
}
footer > .button:hover {
    background-color: hsl(90, 90%, 50%);
}

a {
    text-decoration: none;
    color: black;
}