@import url('https://fonts.googleapis.com/css2?family=Thasadith:wght@400;700&display=swap');
/* font-family: 'Thasadith', sans-serif; */

/* HEADER PART */
header {
    font-family: 'Thasadith', sans-serif;
    font-weight: 700;
    background-color: hsl(78, 66%, 41%);
    min-height: 80px;
    margin-bottom: 40px;
    position: fixed;
    width: 100%;
}

.header-container {
    min-height: 80px;
    max-width: 1024px;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    color: white;
    text-decoration: none;
}
.logo a {
    text-transform: uppercase;
    font-weight: 400;
}
span {
    font-weight: 700;
    letter-spacing: 1px;
}
nav a{
    display: inline-block;
    color: white;
    padding: 10px 25px;
    border: 1px solid white;
    text-decoration: none;
}

/* MAIN PART */
main {
    min-height: 500px;
    max-width: 1024px;
    padding-top: 120px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Thasadith', sans-serif;
    font-weight: 400;
}

.col {
    width: 30%;
    background-color: #C7781C; 
    margin-bottom: 40px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out;
}
.col:hover {
    box-shadow: 0 0 5px 5px rgba(199, 119, 28, 0.3);
}
.col img {
    width: 100%;
    height: auto;
}

.col p {
    color: white;
    font-size: 0.9rem;
    padding: 10px 25px;
    line-height: 1.25rem;
}

.col p::first-line{
    font-weight: 700;
}

.mob-wrapper {
    display: none;
}

/* Footer */
footer {
    min-height: 150px;
    max-height: 400px;
    background-color: #505050;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Thasadith', sans-serif;

}
.foot-container {
    width: 1024px;
    color: #efefef;
    text-align: center;
    text-transform: uppercase;
}
.contact, .about {
    min-height: 350px;
}

/* Tablet View */
@media (max-width: 768px) {
    .col {
        width: 45%;
    }

    .hide-desktop-only {
        display: block;
    }

    header {
        position: relative;
    }
    .header-container {
        display: flex;
        padding: 0 5%;
        text-align: center;
    }
    main {
        padding-top: 0;
    }

    nav {
        display: none;
    }
    nav a {
        display: block;

    }

    .logo {
        padding: 40px 0;
    }

    .mob-wrapper {
        display: block;
    }

    .mob-nav a{
        color: white;
        padding: 10px 25px;
        border: 1px solid white;
        text-decoration: none;
        display: block;
        background-color: #616161;
    }
    
    .mob-nav {
        display: none;
        position: absolute;
        right: 0;
        width: 100%;
    }
    .mob-nav a:hover {
        background-color: blueviolet;
        transition-duration: 0.5s;
    }


}

/* Mobile View */
@media (max-width: 400px) {
    .logo a {
        padding: 0 1.5rem;
    }
    .col {
        width: 100%;
    }
    
    .hide-mobile {
        display: none;
    }
}
