@import url('https://fonts.googleapis.com/css2?family=Galdeano&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    background-color: #7bdaf3;
    font-family: 'Galdeano', sans-serif;
    padding: 3rem;
}

.note {
    height: 400px;
    width: 400px;
    background-color: #fff;
    margin: 1rem;
    background-color: #efefef;
    box-shadow:  0 0 10px 4px rgba(0, 0, 0, 0.4);
}
.note .toolbar {
    background-color: #9ec862;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}
.note .toolbar button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.note main {
    /* display: none; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.note textarea {
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    width: 100%;
    height: 400px;
    padding: 0.5rem;
    /* box-shadow:  0 0 10px 4px rgba(0, 0, 0, 0.4); */
}
.note .hidden {
    display: none;
}

.add {
    background-color: #9ec862;
    border-radius: 3px;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}


footer > .button {
    border: none;
    outline: none;
    cursor: pointer;

    position: absolute;
    padding: 10px 20px;
    background-color: chartreuse;
    color: black;
    left: 2rem;
    top: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 100px;
}
footer > .button:hover {
    background-color: hsl(90, 90%, 50%);
}

a {
    text-decoration: none;
    color: black;
}