@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&family=Rhodium+Libre&display=swap');
/* 
font-family: 'Inria Sans', sans-serif;
font-family: 'Rhodium Libre', serif;
*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Inria Sans', sans-serif;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #444;
}
h1 {
    margin: 0.5rem 0 0.25rem;
    font-family: 'Rhodium Libre', serif;
    color: #25e70c;
    font-size: 6rem;
    text-align: center;
    opacity: 0.4;
}

form {
    max-width: 100%;
    width: 400px;
    margin: auto;
    box-shadow: 0 4px 10px rgba( 0, 0, 0, 0.1);
}

.input {
    border: none;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
    color: #444;
}

.input::placeholder {
    color: #d5d5d5;
}

.todos {
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos li {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1rem 2rem;
    border-top: 1px solid #e5e5e5;
}
.todos li.completed {
    text-decoration: line-through;
    color: #b6b6b6;
}

small {
    color: #b5b5b5;
    margin: 3rem 0 0;
    text-align: center;
}


footer > .button {
    border: none;
    outline: none;
    cursor: pointer;

    position: absolute;
    padding: 10px 20px;
    background-color: chartreuse;
    color: black;
    left: 2rem;
    top: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 100px;
}
footer > .button:hover {
    background-color: hsl(90, 90%, 50%);
}

a {
    text-decoration: none;
    color: black;
}